<div class="container mx-auto mt-5">
  <div class="py-8 m-5">
    <div class="d-flex justify-content-between m-5">
      <h2 class="font-semibold leading-tight">Productos</h2>
      <a href="/" class="btn btn-primary btn-md mx-4 w-25">Agregar Producto</a>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id°</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#if products}}
          {{#each products }}
          <tr>
            <th>{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>S/.{{this.price}}</td>
            <td><img src="{{this.url}}" alt="{{this.title}}" height="100" width="100"></td>
          </tr>
          {{/each}}
        {{else}}
          <tr>
            <td colspan="4" class="text-center p-20">
              <p class="mb-8">No hay productos para mostrar</p>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>



{{!-- ejercicio anterior con socket io --}}






{{!-- <div>
        <h1>Chats HBS</h1>
        <form onsubmit="return enviarMensaje()">
            <input type="email" id="author" placeholder="Email"/>
            <input type="text" id="text" placeholder="Escriba su mensaje"/>
            <button type="submit">Enviar mensaje</button>
        </form>  
    <div id="messages"></div>
</div> --}}
{{!-- 
<h1>formulario producto HBS</h1>
   <div>
    <form onsubmit="return sendProducts()">
        <input type="text" id="title" placeholder="Nombre de producto"/>
        <input type="text" id="price" placeholder="Precio de prducto"/>
        <input type="text" id="img"  placeholder="img por URL" >

        <button type="submit">Enviar producto</button>
    </form>  
    </div>

<h1>Tabla productos</h1>
<div>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio </th>
        <th>imagen</th>
    </tr>
  </thead>
   <tbody id="tableProducts">
    
    </tbody>
</table>
</div> --}}

